<!DOCTYPE>
<html>

<head>
    <title>彩票</title>
    <link rel="stylesheet" href="/stylesheets/style.min.css">
    <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
</head>

<body onmousewheel="return false;">
    <header>
        <nav>
            <ul>
                <li class="active"><a href="#">选第1位<i class="iconfont">&#xe60b;</i></a></li>|
                <li><a href="#">选2全中</a></li>|
                <li><a href="#">选3全中<i class="iconfont">&#xe60b;</i></a></li>|
                <li><a href="#">选4全中</a></li>
            </ul>
        </nav>
    </header>
    <%-body -%>
        <script src="/javascripts/main.min.js"></script>
</body>

</html>
