<!DOCTYPE>
<html>
<head><title>彩票</title>
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>
<body>
<header>
<ul class="nav nav-justified"><li class="active"><a href="#">选第1位</a></li>
<li><a href="#">选2全中</a></li>
<li><a href="#">选3全中</a></li>
<li><a href="#">选4全中</a></li></ul>
</header>
    <%-body -%>
</body>
</html>