 
<div id="content">
<div id="open-section">
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-2"><span class="openNumber">49期</span></div>
        <div class="col-xs-1">01</div>
        <div class="col-xs-1">03</div>
        <div class="col-xs-1">05</div>
        <div class="col-xs-1">07</div>
        <div class="col-xs-1">10</div>
        <div class="col-xs-3"></div>
    </div>
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-2"><span class="openNumber">49期</span></div>
        <div class="col-xs-1">01</div>
        <div class="col-xs-1">03</div>
        <div class="col-xs-1">05</div>
        <div class="col-xs-1">07</div>
        <div class="col-xs-1">10</div>
        <div class="col-xs-3"></div>
    </div>
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-2"><span class="openNumber">49期</span></div>
        <div class="col-xs-1">01</div>
        <div class="col-xs-1">03</div>
        <div class="col-xs-1">05</div>
        <div class="col-xs-1">07</div>
        <div class="col-xs-1">10</div>
        <div class="col-xs-3"></div>
    </div>
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-2"><span class="openNumber">49期</span></div>
        <div class="col-xs-1">01</div>
        <div class="col-xs-1">03</div>
        <div class="col-xs-1">05</div>
        <div class="col-xs-1">07</div>
        <div class="col-xs-1">10</div>
        <div class="col-xs-3"></div>
    </div>
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-2"><span class="openNumber">49期</span></div>
        <div class="col-xs-1">01</div>
        <div class="col-xs-1">03</div>
        <div class="col-xs-1">05</div>
        <div class="col-xs-1">07</div>
        <div class="col-xs-1">10</div>
        <div class="col-xs-3"></div>
    </div>
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-2"><span class="openNumber">49期</span></div>
        <div class="col-xs-1">01</div>
        <div class="col-xs-1">03</div>
        <div class="col-xs-1">05</div>
        <div class="col-xs-1">07</div>
        <div class="col-xs-1">10</div>
        <div class="col-xs-3"></div>
    </div>
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-2"><span class="openNumber">49期</span></div>
        <div class="col-xs-1">01</div>
        <div class="col-xs-1">03</div>
        <div class="col-xs-1">05</div>
        <div class="col-xs-1">07</div>
        <div class="col-xs-1">10</div>
        <div class="col-xs-3"></div>
    </div>

    <div id="tips">
        <hr /><p><span class="glyphicon glyphicon-ok" arra-hidden="true"></span>刷新成功</p>
        <hr />
    </div>
</div>
<div class="board">
    <p class="left"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>距离50期截止<strong>09:37</strong></p>
    <p class="right" id="pullDown">上滑收起<span class="glyphicon glyphicon-arrow-up" arra-hidden="true"></span></p>
</div>
</div>

<footer><p>至少选2个球，猜中任意2个，中13元</p>
<hr />
<button type="button" class="btn btn-default btn-lg btn-left"><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span></p>随机一注</button>
<button type="button" class="btn btn-danger btn-lg btn-right" disabled="disabled">至少选择2个球</button>
</footer>

<script type="text/javascript">
function handleTouchEvent(event) {
    if(event.touches.length == 1){
        if(event.type == 'touchmove'){
            location.href='/';
        }
    }
}
document.addEventListener("touchmove", handleTouchEvent, false);
setTimeout('tips()', 1000);
var tips = function(){
    $('#tips').hide('fast');
};
</script>
