@font-face {
  font-family: 'droid_sans_fallbackregular';
  src: url('../fonts/droidsansfallback-webfont.eot');
  src: url('../fonts/droidsansfallback-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/droidsansfallback-webfont.woff2') format('woff2'), url('../fonts/droidsansfallback-webfont.woff') format('woff'), url('../fonts/droidsansfallback-webfont.ttf') format('truetype'), url('../fonts/droidsansfallback-webfont.svg#droid_sans_fallbackregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/roboto-regular-webfont.eot');
  src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-regular-webfont.woff2') format('woff2'), url('../fonts/roboto-regular-webfont.woff') format('woff'), url('../fonts/roboto-regular-webfont.ttf') format('truetype'), url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot');
  /* IE9*/
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */ url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/*css reset*/
* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 14px;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'droid_sans_fallbackregular';
  color: #666;
}
/* nav */
nav {
  position: fixed;
  top: 0;
  border-bottom: 1px solid #dadada;
}
nav ul {
  color: #dedede;
  white-space: nowrap;
}
nav ul li {
  color: #666;
  padding: 1rem 1rem;
  padding-right: 0;
  height: 1rem;
  display: inline-block;
}
nav ul li a {
  text-decoration: none;
  padding-right: 1.6rem;
}
nav ul li a i {
  color: #e63629;
  position: absolute;
  top: 1.2rem;
}
nav ul li.active {
  border-bottom: 3px solid #e63629;
}
nav ul li.active a {
  color: #e63629;
}
/* content */
#content {
  position: absolute;
  top: 46px;
  height: 75%;
  background-color: #fafafa;
}
#content #timeRemain {
  margin: -0.1rem;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  padding: 0.4rem;
}
#content #timeRemain .time {
  float: left;
  width: 70%;
  font-size: 0.857rem;
}
#content #timeRemain .time i {
  margin: 0.3rem;
}
#content #timeRemain .time strong {
  font-weight: 900;
  font-size: 1rem;
  color: #333;
  margin: 0.3rem;
}
#content #timeRemain .pullDown {
  color: #b8b8b8;
  font-size: 0.857rem;
}
#content #timeRemain .pullDown i {
  color: #b8b8b8;
  margin: 0.3rem;
}
#content #options {
  padding: 1.642rem;
  word-spacing: 1rem;
  line-height: 3.5rem;
}
#content #options span {
  padding: 0.2rem 0.3rem;
  font-family: 'robotoregular';
  font-size: 1.2857rem;
  background-color: #fff;
  border-radius: 10rem;
  border: 1px solid #c7c7c7;
  color: #e63629;
}
#content #options span.active {
  background-color: #e63629;
  border: 1px solid #e63629;
  color: #fff;
}
/* footer */
footer {
  background-color: #fff;
  text-align: center;
  font-family: '微软雅黑';
  font-size: 0.7857rem;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding-bottom: 1rem;
  border-top: 1px solid #c7c7c7;
  color: #c7c7c7;
}
footer p {
  padding: 0.2rem;
  font-family: '微软雅黑';
  font-size: 0.7857rem;
  color: #9a9a9a;
}
footer p strong {
  color: #e63629;
  font-size: 0.7857rem;
}
/*btn*/
#btn-group {
  border-top: 1px solid #dadada;
  width: 90%;
  margin: 0 auto;
  padding: 0.4rem;
}
#btn-group button[type='button'] {
  width: 5.071rem;
  height: 2.857rem;
  color: #e63629;
  border-radius: 4px;
  border: 1px solid #dedede;
  background-image: linear-gradient(180deg, #fff, #dadada);
}
#btn-group button[type='button'] i {
  color: #e63629;
  display: block;
  position: relative;
  top: -0.4rem;
  margin-bottom: -1rem;
  font-size: 2rem;
}
#btn-group button[type='submit'] {
  width: 14.7rem;
  height: 2.857rem;
  background-color: #e63629;
  border: 1px solid red;
  border-radius: 4px;
  color: #dedede;
}
#btn-group button:disabled {
  opacity: 0.7;
}
/*bonus*/
#bonusPot {
  width: 90%;
  position: absolute;
  top: 46px;
  margin: 1rem;
  text-align: center;
}
#bonusPot p {
  line-height: 1.9rem;
  font-family: robotoregular;
  font-size: 1.1428rem;
  color: #e63629;
  word-spacing: 0.5rem;
}
#bonusPot p span {
  margin: 1rem;
  font-size: 0.857rem;
  font-family: droid_sans_fallbackregular;
  color: #666;
  border: 1px solid #b8b8b8;
  border-radius: 11px;
  padding: 0.1rem 0.3rem 0;
}
#tips {
  display: none;
  font-size: 0.1rem;
  padding: 0.5rem;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #dadada;
}
#tips p {
  margin: 0.5em;
}
